*{
    padding: 0;
    margin: 0;
    
}
/*hero section*/
body{
    font-family: "Quicksand";
}
.welcome{
    display: flex;
}

.sidebar
{
    background-color: #FCF8F8;
    min-height: 690px;
    width: 170px;
    padding: 70px;
    border: 1px solid #FCF8F8;
}

.sidebar ul{
    list-style: none;
    font-size: 20px;
    line-height: 50px;
    white-space: nowrap;
}

.sidebar li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sidebar p{
    margin-bottom: 35px;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.main-content{
    min-height: 690px;
    min-width: 76vw;
    background-color:#F9DFDF;
    padding-top: 70px;
    padding-left: 50px;
}

.main-content p{
    line-height: 35px;
}

.boxes
{
    display: flex;
    gap: 85px;
}

/*to do part*/
.todo-list
{
    background-color: #FBEFEF;
    min-height: 500px;
    width: 400px;
    margin-top: 50px;
    border: 1px solid #F5AFAF;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.task-input-row input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #f5afaf;
    padding: 8px 4px;
    font-size: 16px;
    background: transparent;
    outline: none;
    margin-bottom: 15px;
}

#taskList{
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.task-item
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 18px;
}

.task-item input[type="checkbox"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.priority-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.task-text
{
    flex: 1;
}

.done .task-text{
    text-decoration: line-through;
    color: black;
}

#clearTasksBtn{
    margin-top: 10px;
    padding: 10px;
    background-color: #eeb0b0;
    color: white;
    border:none;
    border-radius:17px;
}

/*AI Insight*/

.ai-insight
{
    background-color: #FBEFEF;
    min-height: 500px;
    width: 400px;
    margin-top: 50px;
    border: 1px solid #F5AFAF;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.ai-content
{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.ai-icon {
    width: 50px;
    height: 50px;
    color: #f5afaf;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.ai-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.ai-title i{
    font-size: 30px;
    color: #eeb0b0;
}

.aiMessage-box{
    margin-top: 50px;
    height: 300px;
    width: 75%;
    background-color: #f3bbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border-radius: 10px;
    font-size: 20px;
}
.ai-footer{
    font-size: 14px;
    margin-top: 10px;
}

/*login page*/
.login-body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBEFEF;
    height: 100vh;
}

.login-card{
    min-height: 500px;
    min-width: 500px;
    background-color: #F9DFDF;
    text-align: center;
    padding-top: 150px;
    border-radius: 25px ;
}

.login-card input{
    margin-top: 50px;
    min-height: 50px;
    width: 20vw;
    border: 1px solid #FCF8F8;
    text-align: center;
    border-radius: 20px;
}

#loginBtn{
    margin-top: 50px;
    height: 5vh;
    width: 15vw;
    border: none;
    background-color: #eeb0b0;
    color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

/*planner*/
#calendar{
    max-width: 900px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

/*pomodoro*/
.timer-container {
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    height: 500px;
    width: 900px;
    background-color: #FCF8F8;
    border-radius: 30px;
}

#timer {
    font-size: 170px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
}

.controls button,
.modes button {
    margin: 20px;
    padding: 20px 35px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: #f5afaf;
    color: white;
    cursor: pointer;
}

.controls button:hover,
.modes button:hover {
    background-color: #e49a9a;
}
